<h1>To Do</h1>

<form action="/lists" method="post">
  <label for="name">Create a new list:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add list</button>
</form>


<% if @lists.any?() %>
  <h4>Click on a list to see its tasks:</h4>

  <ul>
    <% @lists.each do |list| %>
      <li><a href="/lists/<%= list.id() %>"><%= list.name() %></a> (<a href="/lists/<%= list.id() %>/edit">Update</a>)</li>
    <% end %>
  </ul>
<% else %>
  <p>There are no lists yet!</p>
<% end %>
